#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 280px;
  height: 280px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}


.cell {
  border: 1px solid black;
  width: 90px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}


#turn-tracker {
  width: 280px;
  text-align: center;
  font-size: 20px;
}
